/* .main{
    background-image:
      'url("https://raw.githubusercontent.com/gar-git/images/main/white_logo-removebg-preview.png")';
    background-size: "cover"; 
    background-position: "center center";   
} */

